### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data["SN"].value_counts())
print("Total players = ",total_players)

Total players =  576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
total_of_purchases = (purchase_data["Purchase ID"]).count()
total_of_revenue = (purchase_data["Price"]).sum()

summary_df = pd.DataFrame({"Total Unique Items":[unique_items],
                           "Average Item Price":[average_price], 
                           "Total Purchases": [total_of_purchases], 
                           "Total Revenue": [total_of_revenue]})

summary_df.style.format({'Average Item Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_grouping = purchase_data.groupby("Gender")
gender_total = gender_grouping.nunique()["SN"]
player_percentage = gender_total / total_players * 100
gender_demographics = pd.DataFrame({"% of players": player_percentage, "Total players": gender_total })
gender_demographics.round(2)
gender_demographics.sort_values(by=["% of players"], ascending = False)

gender_demographics.style.format({"% of players":"{:,.2f}",})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# basic calculations to obtain purchase count by gender
total_purchase_count = gender_grouping["Purchase ID"].count()

# basic calculations to obtain avg. purchase price by gender
avg_purchase_price = gender_grouping["Price"].mean()

# basic calculation to obtain total purchase price by gender
total_purchase_value = gender_grouping["Price"].sum()


# basic calculations to obtain  avg. purchase total per person by gender
avg_purchase_total_pp = avg_purchase_price/gender_total


purchase_analysis_summary = pd.DataFrame({"Total Purchase Count": total_purchase_count, "Avg. Purchase Price": avg_purchase_price,
                                          "Purchase Price ""Avg. Purchase Total Per Person": avg_purchase_total_pp})

purchase_analysis_summary.index.name = None

purchase_analysis_summary.style.format({})

print(purchase_analysis_summary)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
grouping_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Groupings"] = pd.cut(purchase_data["Age"],age_bins, labels=grouping_names)
purchase_data

grouped_age = purchase_data.groupby("Age Groupings")


total_age_count = grouped_age["SN"].nunique()

percentages_by_age_groupings = (total_age_count/total_players) * 100

summary_results = pd.DataFrame({"% of players": percentages_by_age_groupings, "Total": total_age_count})

summary_results.style.format({"% of players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame